body{
    background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExYjd2ajB3Nmd3czZ2c2ZkazJ3Y2xzMjg2a3p4emw0anJkOXU4aWo1MiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/g5R9dok94mrIvplmZd/giphy.webp");
    background-position: 0%;
    color: rgb(130, 195, 252);
}